# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Poetry
poetry.lock
# If you want to include lockfile for reproducibility, remove above line

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code and other editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS
.DS_Store

# Logs
*.log

# System files
Thumbs.db
Desktop.ini
